body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E9EDEE;
}
.logo{
    width: 100%;
    height: 40%;
    background-color: #222F3F;
}
.logo img{
    margin-left: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
}
nav ul li {
	display: inline-block;
    padding-top: 10px;

}
nav ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 40px;
}
nav{
    background-color: #364759;
    height: 40px; 
    margin-bottom: 25px;
}

nav ul li a:link,
nav ul li a:visited  { 
	text-decoration: none;
	color: antiquewhite;
}
nav ul li:not(:last-child) {
	margin-right: 10px;
}
.container{
    height: 100%;
}
.shopBunner{
    width: 97%;
    background-color: #F56600;
    margin: 0 auto;
    height: 40px;

}
.shopBunner p{
    text-align: center;
    color: white;
    font-size: 1rem;
    padding-top: 10px;
    
}
.holidayGift{
    width: 97%;
    background-image: url(../img/bg-image.png);
    margin: 0 auto;
    height: 180px;

}
.holidayGift h1{
    text-align: center;
    color: white;
    padding-top: 5%;
    font-size: 2rem;
}
.perfectGift{
    width: 97%;
    margin: 0 auto;
    background-color: white;
    height: 100%;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.img{
    padding: 10px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 2px #333333;
    
}
.perfectGift p{
    margin-left: 30px;
    padding-top: 10px;
    font-weight: 700;
    color:#333333;
}

.playGame,
.sound
{
    width: 97%;
    margin: 0 auto;
    height: 40%;
    margin-bottom: 30px;
}

.playGame p,
.sound p{
    text-align: center;
    font-weight: 600;
}
footer{
    width: 100%;
    height: 40px;
    background-color: #222F3F;
}
.back{
    width: 100%;
    height: 40px;
    background-color: #364759;
    text-align: center;
    padding-top: 20px;
}
footer{
    width: 100%;
    height: 200px;
    background-color: #222F3F;
    text-align: center;

}
footer img{
    padding-top: 60px;

}
section p a:link,
section p a:visited{
    text-decoration: none;
	color: #41868D;
}
.back a:link,
.back a:visited{
    color: white;
}


